<h3><%= @hike.name %></h3>

<div>
  <h5> Location </h5>
  <div> <%= @hike.location %> </div>

  <h5> Description </h5>
  <div> <%= @hike.description %> </div>

  <h5> Website </h5>
  <div>
    <% if @hike.website.present? %>
      <div> <%= link_to "Go to site!", @hike.website %> </div>
    <% else %>
      <div>No website available</div>
    <% end %>
  </div>
</div>
<br>
  <span><%= link_to "Edit", edit_hike_path(@hike) %>
    or <%= link_to "Delete", hike_path(@hike), method: :delete %> hike
  </span>
<br>
<%= link_to "Back to hikes", hikes_path %>
