<h3 class="title"><%= @group.name %></h3>
<h4>Created by: <%= link_to @group.owner.username, user_path(@group.owner), class: "member" %></h4>

<div class="container">
  <div class="row">
    <div class="recipe-body">
      <h5> Location </h5>
      <div> <%= @group.location %> </div>

      <h5> Description </h5>
      <div> <%= @group.description %> </div>

      <h5> Members </h5>
      <div class="group-member-list">
        <li><%= link_to @group.owner.username, user_path(@group.owner), class: "member" %></li>
        <% if @group.users.present? %>
          <% @group.users.each do |user| %>
          <li> <%= link_to user.username, user_path(user), class: "member" %> </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <HR WIDTH="100%">
  <br>
  <div class="row group-bottom">
    <div class="large-6 medium-6 columns">
      <% if current_user != nil %>
        <% if @group.users.include?(current_user) || current_user == @group.owner %>
          <% if @group.group_messages.present? %>
            <h4>Messages</h4>
            <div class="message-list">
            <% @group.group_messages.each do |message| %>
              <HR WIDTH="90%">
              <li>From: <%= message.user.username %></li>
              <li><%= message.body %></li>
              <li>
              <% if message.user == current_user || current_user.admin %>
                <div class="owner-options">
                <%= link_to "Edit", edit_group_message_path(message), class: "link" %> or
                <%= link_to "Delete", group_message_path(message), method: :delete, class: "link" %> message
                </div>
              <% end %>
              </li>
            <% end %>
            </div>
          <% end %>
          <br>
        <%= link_to "Message group", new_group_group_message_path(@group), class: "link" %>
      </div>

      <div class="large-6 medium-6 columns">
        <h4>Events</h4>
        <div class="event-list">
          <% @events.each do |event| %>
            <HR WIDTH="90%">
            <li>Title: <%= event.title %> </li>
            <li>Description: <%= event.description %> </li>
            <li>Address: <br>
            <%= event.street %><br>
            <%= event.city %>, <%= event.state %><br>
            </li>
            <li>When: <%= event.date.strftime("%m/%d/%y") %>,
                <%= event.time.strftime("%I:%M %p") %>
            </li>
            <% if @group.owner == current_user || current_user.admin %>
              <div class="owner-options">
              <%= link_to "Edit", edit_event_path(event), class: "link" %> or
              <%= link_to "Delete", event_path(event), method: :delete, class: "link" %> event
              </div>
            <% end %>
            <br>
          <% end %>
        </div>
      <% end %>
      <br>
      <% if @group.owner == current_user || current_user.admin %>
        <%= link_to "Add Event", new_group_event_path(@group), class: "link" %>
      <% end %>
    </div>
  </div>
</div>
<br>
  <% if @group.owner == current_user || current_user.admin %>
    <span class="owner-options"><%= link_to "Edit", edit_group_path(@group), class: "link" %>
      or <%= link_to "Delete", group_path(@group), method: :delete, class: "link" %> Group
    </span>
  <% end %>
  <% if @group.owner != current_user %>
    <% if @group.users.include?(current_user) %>
      <br>
      <%= link_to "Leave Group", membership_path(id: @current_member), method: :delete, class: "link" %>
    <% else %>
      <% if current_user != nil %>
        <%= link_to "Join Group", memberships_path(group_id: @group.id), method: :post, class: "link" %>
      <% else %>
        <%= link_to "Join Group", new_user_session_path, class: "link" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br>
<br>
<%= link_to "Back to groups", groups_path, class: "back-link" %>
