<div class="container text-center">
  {{#each validationErrors as |error|}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/each}}
  <div class="header">
    Edit {{hike.name}}
  </div>
  <div class="form">
    <form {{action 'editHike' model on='submit'}}>
      <div class="form-input">
        {{input class="form-control" value=hike.name required=true}}
      </div>
      <div class="form-input">
        {{input class="form-control" value=hike.location required=true}}
      </div>
      <div class="form-input">
        {{textarea class="form-control" value=hike.description required=true}}
      </div>
      <div class="form-input">
        {{input class="form-control" value=hike.website}}
      </div>
      <div>
        <input type="Submit" class="button">
      </div>
    </form>
  </div>

  <a href="./hikes">Back to hikes</a>
</div>
