<div class="container text-center">
  {{#each validationErrors as |error|}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/each}}
  <div class="header">
    Edit {{hike.name}}
  </div>
  <div class="form">
    <form {{action 'editHike' model on='submit'}}>
      <div class="form-input">
        <div>Name</div>
        {{input class="form-control" value=hike.name required=true}}
      </div>
      <div class="form-input">
        <div>Location</div>
        {{input class="form-control" value=hike.location required=true}}
      </div>
      <div class="form-input">
        <div>Description</div>
        {{textarea class="form-control textarea" value=hike.description required=true}}
      </div>
      <div class="form-input">
        <div>Website (optional)</div>
        {{input class="form-control" value=hike.website}}
      </div>
      <div>
        <input type="Submit" class="button">
      </div>
    </form>
  </div>

  <div>{{link-to "Back to hike" 'hikes.show' hike class="show-hike"}}</div>
</div>
