<div class="container text-center">
  {{#each validationErrors as |error|}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/each}}
  <div class="header">
    New Hike
  </div>
  <div class="form">
    <form {{action 'newHike' model on='submit'}}>
      <div class="form-input">
        <div>Name</div>
        {{input class="form-control" placeholder="Name" value=name required=true}}
      </div>
      <div class="form-input">
        <div>Location</div>
        {{input class="form-control" placeholder="Location" value=location required=true}}
      </div>
      <div class="form-input">
        <div>Description</div>
        {{textarea class="form-control textarea" placeholder="Description" value=description required=true}}
      </div>
      <div class="form-input">
        <div>Website (optional)</div>
        {{input class="form-control" placeholder="Website" value=website}}
      </div>
      <div>
        <input type="Submit" class="button">
      </div>
    </form>
  </div>

  <a href="./hikes">Back to hikes</a>
</div>
