<div class="container text-center">
  <div class="well">
    <h3 class="hike-title">
      {{hike.name}}
    </h3>
    <div class="location">
      {{hike.location}}
    </div>
    <div class="description">
      {{hike.description}}
    </div>
    <div class="website">
      {{hike.website}}
    </div>
  </div>
</div>

<div class="container text-center">
  <button class="btn btn-danger btn-lg" {{action "deletehike" model}}>Delete hike</button>
  <button class="btn btn-info btn-lg" {{action "edithike" model}}>Edit hike</button>
</div>
