<div class="container text-center">
  <div class="hike-show">
    <h3 class="hike-title">
      {{hike.name}}
    </h3>
    <div class="hike-info">
      Location:
      {{hike.location}}
    </div>
    <div class="hike-info">
      Description:
      {{hike.description}}
    </div>
    {{#if hike.website}}
    <div class="hike-info">
      Want more info? feel free to check out their
    <a class="website" href="{{hike.website}}">
      website
    </a>
    </div>
    {{/if}}
  </div>
  <div>{{link-to "Edit hike" 'hikes.edit' hike class="edit-hike"}}</div>
  {{confirm-button title="Delete hike" action="deleteHike" param=hike}}
  <br>
  <a href="./hikes">Back to hikes</a>
</div>
